/**-- Mobile View **/
.mobile {
	display: none;
}

@media only screen and (max-width: 500px) , (max-device-width: 500px){

	html {
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	}

	h1 {
		padding-bottom: 1rem;
	}
	
	.desktop {
		display: none;
	}

	.mobile {
		display: inline-block;
	}

	.style-1, .left-column-style, .right-column-style {
		flex-direction: column;
		padding: 0 0;
		width: 100%;
	}
	.right-article-style .image-wrapper-style-1, .image-wrapper-style-1{
		width: 100%;
	}

	.style-1 {
		padding: 2.5rem 0rem;
	}

	.right-article-style {
		flex-direction: column;
		align-items: flex-start;
		border: none;
	}
	.right-section-style {
		width: 100%;
		padding-top: 1rem;
	}


/*------------Header --------------*/

	header {
		padding: 0;
	}
	#logo {
		justify-content: space-around;
	}
	#logo img {
		height: 4rem;
	}

/*------------Banner  --------------*/

	#banner {
		padding-top: 0;
	}

	#banner h1 {
		padding-bottom: 2rem;
	}

	#banner .right-column-style {
		padding-left: 1rem; 
	}
	#starthere-button {
		margin-top: 1.5rem;
		margin-right: 2.5rem;
	}

/*------------campus introduction --------------*/

	#campus .right-column-style, #campus .right-article-style{
		border: none;
	}
	#campus {
		padding-top: 1rem;
	}

/*------------Curriculum --------------*/

	#curriculum {
		background-color: white;
		padding: 2rem 1rem;
		padding-top: 1rem;
		border: 1px solid lightgrey;
	}
	#curriculum figure, .middle-section-style p{
		display: none;
	}
	.middle-row-style {
		width: 100%;
		flex-direction: column;
		align-self: flex-start;
		margin: 0;
	}
	.middle-article-style {
		width: 100%;
		background-color: lightgrey;
		margin-bottom: 0.5rem;

	}

/*------------thesis--------------*/
	#exhibit .style-1 {
		padding-top: 0;
	}


}