html {
	font-size: 16px;
	font-size: 1.5vw;
	font-family: 'Raleway', sans-serif;
}

h1 {
	padding: 2rem 0;
	font-size: 2.5rem;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 1.5rem;
	font-weight: bold;
}

p{
	line-height: 1.5rem;
	color: grey;
}

small {
	font-size: 0.75rem;
}

a{
	color: black;
	text-decoration: none;
	transition-property: text-decoration;
}
a:hover {
	text-decoration: underline;
	cursor: pointer;
}

/***************** general style ************************/

.style-1{
	display: flex;
}

.left-column-style{
	display: flex;
	flex-direction: column;
	width: 60%;
	padding: 2rem 1.5rem;
}

.right-column-style{
	display: flex;
	flex-direction: column;
	width: 40%;
	padding-top: 1rem;
}

.image-wrapper-style-1 img, .video-wrapper video{
	width: 100%;
}

.right-article-style {
	display: flex;
	align-items: center;
	padding: 1rem 1rem;
	transition-preoperty: background-color;
	transition-duration: 100ms;
}

.right-article-style .image-wrapper-style-1 {
	width: 35%;
}

.right-section-style {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding-left: 1rem;
	width: 65%;
}

.right-section-style p {
	margin: 1rem 0; 
}

.right-section-style a {
	color: blue;
}

.style-2 {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.middle-row-style {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;
}

.middle-article-style {
	display: flex;
	flex-direction: column;
	width: 30%;
	background-color: white;

}

.middle-section-style {
	padding: 1rem 1rem;
	padding-bottom: 1.5rem;
}


/***************** Header style************************/

header {
	display: flex;
	align-items: center;
	height: 4.5rem;
	position: fixed;
	top: 0;
	background-color: white;
	width: 100%;
	padding-left: 1.5rem;
	border-bottom: 1px solid black;
}

#logo {
	flex-grow: 1;
	display: flex;
	align-items: center;
	font-size: 1.5rem;
}

#logo img {
	height: 3rem;
}

nav {
	margin-right: 3rem;
}
nav span {
	margin-left: 1rem;
}

#academy {
	color: lightgrey;
}

/***************** banner style************************/

#banner {
	background-color: lightgrey;
	margin-top: 4.5rem;

}

#banner-messeges {
	justify-content: center;
}

#starthere-button {
	display: flex;
	justify-content: center;
	background-color: grey;
	padding: 1rem 0rem;
	margin-right: 4.5rem;
	margin-top: 2rem;
	font-size: 1.5rem;
	color: white;
	transition-preoperty: box-shadow, color, cursor;
	transition-duration: 100ms;
}
#starthere-button:hover {
	box-shadow: 10px 10px black;
	cursor: pointer;
	color: black;
}

/***************** Campus introduction section style************************/

#campus .right-column-style {
	border-left: 1px solid lightgrey;
}

#campus .right-article-style {
	border: 1px solid lightgrey;
}

#specialmention {
	font-weight: bold;
	margin-top: 2rem;
}

#campus .right-article-style:hover {
	background-color: lightgrey
}


/***************** curriculum style************************/

#curriculum {
	padding: 2rem 4.5rem;
	padding-top: 1rem;
	background-color: lightgrey;
}

#curriculum .middle-section-style h2 {
	padding-bottom: 1rem;
}

#curriculum .middle-section-style p:nth-child(2){
	padding-bottom: 0.5rem;
}

/***************** Thesis style************************/

#exhibit .right-column-style, #exhibit .left-column-style {
	padding-top: 0;
}

#exhibit .right-article-style:hover {
	background-color: lightgrey
}

/***************** Footer style************************/
footer {
	display: flex;
	padding: 1.5rem 1rem;
	align-items: center;
}
#copyright {
	flex-grow: 1;
}
#legal small{
	margin-left: 1rem;
}



